.heading-msg
{
	color:#3175AF;
	font-weight:bold;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}
.txt-show{
	font-size:18px;
	padding-top:15px;
}
